@page "/about"

<p>The purpose of this site is to make it easy to move elements in an SVG. </p>

<p>The source code is available at: <a href="https://github.com/ProgrammerAL/SvgMover" target="_blank">https://github.com/ProgrammerAL/SvgMover</a></p>


