@page "/"

<div class="flex flex-col gap-8">
    <textarea @bind=@OriginalText
        class="border border-black border-2" />

    <div class="flex gap-2">
        <label for="xInput">X:</label>
        <input id="xInput" type="number" class="min-w-12" />

        <label for="yInput" class="ml-8">Y:</label>
        <input id="yInput" type="number" class="min-w-12" />

        <button type="button" @onclick=MoveSvg
            class="ml-8 min-w-16 min-h-16">Modify Elements</button>
    </div>

    <textarea @bind=@ModifiedText
              class="border border-black border-2" />

</div>